.School, .Job {
    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;
}

.description {
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
}