.skills-list {
	list-style: disc outside;
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	column-gap: 70px;
	row-gap: 12px;
	width: 85%;
	margin: 0 auto;
}

.skill div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
    align-items: center;
}

.skill .fa-minus {
	display: block;
	transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fa-minus:hover {
	cursor: pointer;
}

.skill:hover button {
	visibility: visible;
}
